.floatLabelSelect {
  position: relative;
  margin: 16px 0;
}

.floatLabelSelect label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  background: linear-gradient(
    to top,
    #ffffff,
    #ffffff,
    #ffffff,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
  padding: 0 5px;
  transition: all 0.2s ease-out;
}

.floatLabelSelect select:focus + label,
.floatLabelSelect select:has(option:checked:not([value=""])) + label {
  top: 1px;
  font-size: 12px;
  color: #a3a3a3;
}

.floatLabelSelect select option {
  border: none;
}


@media screen and (max-width:991px) {
  .floatLabelSelect {
    margin: 12px 0;
  }
}